[user]
    name = Dan Callahan
    email = dan.callahan@gmail.com
    signingKey = 7AA5DAD1C95640B8DE88D4AF8D6DD713E9EBA7FD
[alias]
    ci = commit
    st = status
    glog = log --pretty=format:\"%C(yellow)%h %C(cyan)%ad%Cred%d %Creset%s%Cblue [%an]\" --graph --decorate --date=short
    sclone = clone --depth=1
[core]
    quotePath = false
    precomposeUnicode = true
[push]
    default = simple
[diff]
    indentHeuristic = true
[commit]
    gpgSign = true
[gpg]
    program = gpg2
[merge]
    conflictstyle = diff3
